<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="'E.N.B.L. - ' + ${Title}"></title>

    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/header.css" rel="stylesheet" type="text/css" />
    <link href="css/account.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script type="text/javascript" defer src="js/header.js"></script>
    <script type="text/javascript" defer src="js/account.js"></script>
</head>
<body>
<header id="header"><header-block></header-block></header>
<div id="content">
    <div id="profile-header">
        <img th:src="'/retrieve-image?id=' + ${userID} + '&extension=png&type=profile'" alt="Profile image" id="profile-image" />
        <div id="posts"><div><a href="#posts-block"><span th:text="${user.numPosts}"></span>Posts</a></div></div>
        <div id="followers"><div><a th:href="'/followers?id=' + ${userID}"><span th:text="${user.numFollowers}"></span>Followers</a></div></div>
        <div id="followings"><div><a th:href="'/followings?id=' + ${userID}"><span th:text="${user.numFollowings}"></span>Followings</a></div></div>
    </div>
    <div id="profile-header-2">
        <h2 id="username" th:text="${user.username}"></h2>
        <div id="message-btn" v-if="!isMyAccount">
            <a th:href="'/messaging?id=' + ${userID}">
                <button>Message</button>
            </a>
        </div>
        <div id="to-follow" v-if="!isMyAccount">
            <div id="follow" v-if="!isFollowing" @click="follow()">Follow</div>
            <div id="following" v-else @click="follow()">Following</div>
        </div>
    </div>
    <hr />
    <div id="posts-block">
        <div class="post" th:each="post:${user.posts}">
            <img class="post-picture" th:src="'/retrieve-image?id=' + ${post.postID} + '&extension=' + ${post.extension} + '&type=post'" alt="Post picture" />
            <p class="post-description" th:text="${post.description}"></p>
        </div>
    </div>
</div>
<div id="hidden-title" class="hidden" th:text="${Title}"></div>
<div id="hidden-userID" class="hidden" th:text="${userID}"></div>
<div id="is-my-account" class="hidden" th:text="${IsMyAccount}"></div>
<div id="is-following" class="hidden" th:text="${IsFollowing}"></div>
<div id="page-index" class="hidden" th:text="${PageIndex}"></div>
</body>
</html>