<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="'E.N.B.L. - ' + ${Title}"></title>

    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/header.css" rel="stylesheet" type="text/css" />
    <link href="css/activity.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script type="text/javascript" defer src="js/header.js"></script>
</head>
<body>
<header id="header"><header-block></header-block></header>
<div id="content" align="center">
    <div class="activity" th:each="activity:${activities}">
        <div class="profile-image">
            <a th:href="'/account?id=' + ${activity.userID}">
                <img th:src="'/retrieve-image?id=' + ${activity.userID} + '&extension=png&type=profile'" alt="profile image"/>
            </a>
        </div>
        <div class="username">
            <a th:href="'/account?id=' + ${activity.userID}" th:text="${activity.username}"></a>
        </div>
        <div class="activity-text">
            <p>
                <span th:text="${activity.text} + ' '"></span>
                <span th:text="${activity.date} + ' ' + ${activity.time}" class="activity-datetime"></span>
            </p>
        </div>
        <div th:if="${activity.type} == 'post'" class="post">
            <img th:src="'/retrieve-image?id=' + ${activity.postID} + '&extension=png&type=post'" alt="post" />
        </div>
    </div>
</div>
<div id="hidden-title" class="hidden" th:text="${Title}"></div>
<div id="page-index" class="hidden" th:text="${PageIndex}"></div>
</body>
</html>