<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="'E.N.B.L. - ' + ${Title}"></title>

    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/header.css" rel="stylesheet" type="text/css" />
    <link href="css/finduser.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script type="text/javascript" defer src="js/header.js"></script>
    <script type="text/javascript" defer src="js/finduser.js"></script>
</head>
<body>
<header id="header"><header-block></header-block></header>
<div id="content" align="center">
    <div id="input-field">
        <input type="text" @input="find($event.target.value)" />
    </div>
    <div id="loading" v-if="isLoading">
        {{ status }}
    </div>
    <div id="users" v-else>
        <div class="user" v-for="user in users">
            <a v-bind:href="'/account?id=' + user.user_id">
                <img v-bind:src="'/retrieve-image?id=' + user.user_id + '&extension=png&type=profile'" alt="profile image" />
                <h2>{{ user.username }}</h2>
            </a>
        </div>
    </div>
</div>
<div id="hidden-title" class="hidden" th:text="${Title}"></div>
<div id="page-index" class="hidden" th:text="${PageIndex}"></div>
</body>
</html>