<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="'E.N.B.L. -' + ${Title}"></title>

    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/header.css" rel="stylesheet" type="text/css" />
    <link href="css/finduser.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script type="text/javascript" defer src="js/header.js"></script>
</head>
<body>
<header id="header"><previous-page></previous-page><header-block></header-block></header>
<div id="content" align="center">
    <div id="users">
        <div class="user" th:each="user:${users}">
            <a th:href="'/account?id=' + ${user.userID}">
                <img th:src="'/retrieve-image?id=' + ${user.userID} + '&extension=png&type=profile'" alt="profile image" />
                <h2 th:text="${user.username}"></h2>
            </a>
        </div>
    </div>
</div>
<div id="hidden-title" class="hidden" th:text="${Title}"></div>
<div id="page-index" class="hidden" th:text="${PageIndex}"></div>
<div id="previous-page" class="hidden" th:text="${previousPage}"></div>
</body>
</html>