<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="'E.N.B.L. - ' + ${Title}"></title>

    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/header.css" rel="stylesheet" type="text/css" />
    <link href="css/messaging.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script type="text/javascript" defer src="js/header.js"></script>
    <script type="text/javascript" defer src="js/messaging.js"></script>
</head>
<body>
<header id="header"><header-block></header-block></header>
<div id="content">
    <div id="chatPreviews">
        <div class="chat-block" v-for="chatPreview in chatPreviews" @click="selectChat(chatPreview.user_id)">
            <div class="profile-image">
                <img :src="'/retrieve-image?id=' + chatPreview.user_id + '&extension=png&type=profile'" />
            </div>
            <div class="chat-info">
                <div class="username">
                    <h2>{{ chatPreview.username }}</h2>
                </div>
                <div class="last-message">
                    <p>{{ chatPreview.last_message }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="chat" v-if="isChatSelected">
        <div class="chat-username">{{ targetUsername }}</div>
        <div :class="message.is_sender ? 'message-current' : 'message-target'" v-for="message in messages">
            <div class="profile-image" v-if="!message.is_sender">
                <img :src="'/retrieve-image?id=' + targetID + '&extension=png&type=profile'" />
            </div>
            <div class="message-text">
                <div>{{ message.value }}</div>
                <div class="message-datetime">{{ message.datetime }}</div>
            </div>
            <div class="profile-image" v-if="message.is_sender">
                <img :src="'/retrieve-image?id=' + senderID + '&extension=png&type=profile'" />
            </div>
        </div>
    </div>
    <div id="controls" v-if="isChatSelected">
        <div id="input-field">
            <input type="text" id="input" name="input" @input="messageInput($event.target.value)" />
            <input type="button" id="send" name="send" @click="sendMessage()" value="Send" />
        </div>
        <div id="additional-controls" v-if="isChatSelected">
            <div id="send-image">
                <input type="file" class="hidden" id="image-picker" name="image-picker" />
                <button type="button" @click="sendImage()">
                    <img src="" alt="img" />
                </button>
            </div>
            <div id="send-emoji">
                <select>
                    <option selected disabled>Emoji</option>
                    <option v-for="emoji in emojis">{{ emoji }}<option>
                </select>
            </div>
        </div>
    </div>
</div>
<div id="hidden-title" class="hidden" th:text="${Title}"></div>
<div id="page-index" class="hidden" th:text="${PageIndex}"></div>
<div id="current-user" class="hidden" th:text="${CurrentUser}"></div>
<div id="target-user" class="hidden" th:text="${TargetUser}"></div>
</body>
</html>