<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="'E.N.B.L. - ' + ${Title}"></title>
    
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/header.css" rel="stylesheet" type="text/css" />
    <link href="css/logreg.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script type="text/javascript" defer src="js/header.js"></script>
    <script type="text/javascript" defer src="js/logreg.js"></script>
</head>
<body>
    <header id="header"><header-block></header-block></header>
    <div id="content">
        <div id="error" align="center"></div>
        <form align="center">
            <label for="username">Login</label><br />
            <input type="text" id="username" name="username" @input="inputUsername($event.target.value)" placeholder="stevejobs1" /><br />
            <label for="password">Password</label><br />
            <input type="password" id="password" name="password" @input="inputPassword($event.target.value)" placeholder="******" /><br />
            <input type="button" id="submit" name="submit" @click="push()" value="Sign up" /><br />
            <a href="/login">Already have account? Click to sign in</a>
        </form>
    </div>
    <div id="hidden-title" class="hidden" th:text="${Title}"></div>
    <div id="logregID" class="hidden" th:text="${logregID}"></div>
    <div id="page-index" class="hidden" th:text="${PageIndex}"></div>
</body>
</html>