<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="'E.N.B.L. - ' + ${Title}"></title>

    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/uploadpost.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script type="text/javascript" defer src="/js/header.js"></script>
    <script type="text/javascript" defer src="/js/uploadpost.js"></script>
</head>
<body>
<header id="header"><header-block></header-block></header>
<div id="content">
    <form action="/post/upload" method="POST" enctype="multipart/form-data">
        <input type="file" accept=".png, .gif, .jpg, .jpeg, .webp, .bmp, .svg, .svgz" id="picture" name="picture" class="hidden" @change="checkExtension()" />
        <div id="wrap-2">
            <button type="button" id="choose" name="choose" @click="openDialog()"><img :src="picture" /></button>
            <textarea id="description" name="description"></textarea>
        </div>
        <input type="submit" id="submit" name="submit" value="Upload" />
    </form>
</div>
<div id="hidden-title" class="hidden" th:text="${Title}"></div>
<div id="page-index" class="hidden" th:text="${PageIndex}"></div>
</body>
</html>