#content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
}

#profile-header, #profile-header-2 {
    display: grid;
}

#profile-header {
    grid-template-columns: 60% 10% 10% 10%;
    grid-column-gap: calc(10% / 3);
}

#profile-header-2 {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    margin-top: 20px;
}

#profile-header-2 * {
    padding: 0;
    margin: 0;
}

#profile-image {
    border-radius: 0.4em;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

#posts span, #followers span, #followings span {
    display: block;
}

#posts div, #followers div, #followings div {
    text-align: center;
    width: 100%;
    border-radius: 0.8em;
    border: 2px solid black;
    padding: 5px;
}

#follow, #following {
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 0.5em;
    color: white;
    align-items: center;
    justify-content: center;
}

#follow:hover, #following:hover {
    cursor: grab;
}

#follow {
    background: red;
}

#following {
    background: darkgrey;
}

#posts-block {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 10px;
    text-align: center;
}

.post {
    padding: 2px;
    border: 2px solid black;
    border-radius: 0.2em;
}

.post-picture {
    max-width: 100%;
    max-height: 200px;
}

#message-btn button {
    width: 100%;
    height: 20px;
    background-color: black;
    color: whitesmoke;
}

@media screen and (max-width: 1000px) {
    #profile-header {
        grid-template-columns: 45% 15% 15% 15%;
        grid-column-gap: calc(10% / 3);
    }

    #profile-image {
        width: 80px;
        height: 80px;
    }
    
    #posts-block {
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
    }
}

@media screen and (max-width: 800px) {
    #profile-header {
        grid-template-columns: 30% 20% 20% 20%;
        grid-column-gap: calc(10% / 3);
    }

    #profile-image {
        width: 60px;
        height: 60px;
    }
    
    #posts-block {
        display: block;
    }

    #posts div, #followers div, #followings div {
        padding: 4px;
    }

    #profile-header-2 {
        /* grid-template-columns: 45% 45%;
        grid-column-gap: 10%;*/
    }
}

@media screen and (max-width: 600px) {
    #profile-header {
        grid-template-columns: 20% 25% 25% 25%;
        grid-column-gap: calc(5% / 3);
    }

    #profile-image {
        width: 50px;
        height: 50px;
    }

    #posts div, #followers div, #followings div {
        padding: 2px;
    }
}

@media screen and (max-width: 400px) {
    #profile-header {
        grid-template-columns: 20% 20% 25% 25%;
        grid-column-gap: calc(10% / 3);
    }

    #profile-image {
        width: 40px;
        height: 40px;
    }

    #posts div, #followers div, #followings div {
        padding: 1px;
    }
}