#content {
    padding: 10px 10%;
}

.activity div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.profile-image img, .post img {
    width: 60px;
    height: 60px;
}

.activity-datetime {
    font-size: 10px;
    vertical-align: bottom;
    color: grey;
}