#content * {
    margin-top: 10px;
}

#input-field input {
    width: 30%;
    height: 30px;
    background-color: lightgrey;
    color: white;
    font-size: 18px;
    border-radius: 0.3em;
    padding: 2px;
}

.user {
    padding: 10px;
    width: 30%;
    border: 2px solid black;
    border-radius: 1.5em;
}

.user a {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
}

.user a * {
    display: inline;
    margin-right: 10px;
}

.user img {
    width: 40px;
    height: 40px;
}

#loading {
    color: red;
    font-size: 16px;
}

@media screen and (max-width: 1000px) {
    #input-field input {
        width: 35%;
        height: 45px;
        border-radius: 0.2em;
    }
    
    .user {
        width: 35%;
        border-radius: 1.2em;
    }
    
    .user a * {
        margin-right: 8px;
    }
    
    .user img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 800px) {
    #input-field input {
        width: 50%;
        height: 40px;
        border-radius: 0.2em;
    }
    
    .user {
        width: 50%;
        border-radius: 1em;
    }
    
    .user a * {
        margin-right: 6px;
    }
    
    .user img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 600px) {
    #input-field input {
        width: 70%;
        height: 35px;
        border-radius: 0.2em;
    }
    
    .user {
        width: 70%;
        border-radius: 0.8em;
    }
    
    .user a * {
        margin-right: 6px;
    }
}

@media screen and (max-width: 500px) {
    #input-field input {
        width: 90%;
        height: 30px;
        border-radius: 0.2em;
    }
    
    .user {
        width: 90%;
        border-radius: 0.6em;
    }
    
    .user a * {
        margin-right: 5px;
    }
}