#header-logo, #header-menu {
    width: 50px;
    height: 50px;
    border: none;
    background-color: red;
}

#header-menu:hover {
    cursor: grab;
}

#header {
    height: 60px;
    background-color: red;
    color: whitesmoke;
    padding: 10px;
    display: grid;
}

#header-div {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-column-gap: 10px;
}

.header-item {
    display: flex;
    height: 60px;
    font-size: 25px;
    align-items: center;
}

#previouspage {
    width: 100px;
    display: inline-block;
}

#previouspage * {
    width: inherit;
    height: inherit;
}

#menubar-list {
    display: block;
    position: absolute;
    right: 10px;
    min-width: 25%;
    width: 25%;
    font-size: 25px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    text-align: center;
}

#menubar-list li {
    list-style: none;
    display: block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: white;
    margin: 0;
    margin-bottom: 10px;
    width: 80%;
}

#menubar-list #selected {
    color: white;
    background-color: #6C7E74;
}

@media screen and (max-width: 1000px) {
    #menubar-list {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    #menubar-list {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    #menubar-list {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    #menubar-list {
        width: 100%;
        right: 0;
    }
}