#content {
    padding-top: 5%;
}

#content input {
    line-height: 1;
    width: 20%;
    height: 2em;
    border-radius: .75em;
}

#content form *, #content #error {
    margin-bottom: .5em;
}

#content #error {
    color: red;
}

@media screen and (max-width: 1000px) {
    #content input {
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    #content input {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #content input {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    #content input {
        width: 90%;
    }
}