#chatPreviews {
    display: flex;
    float: left;

    width: 20%;

    border-right: 2px solid black;
}

#chat {
    border-left: 2px solid black;
}

#chatPreviews, #chat {
    overflow-x: hidden;
    overflow-y: auto;

    height: 65vh;
}

#chat, #controls {
    margin-left: calc(20% + 10px);
}

.chat-block {
    padding: 3px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin-top: 5px;
    font-size: 14px;
    height: 100px;
    width: 100%;

    overflow: hidden;
}

.chat-block:hover {
    cursor: grab;
}

.chat-block .profile-image, .chat-block .chat-info {
    display: inline-block;
}

.profile-image img {
    width: 60px;
    height: 60px;

    border-radius: 0.4em;
}

.chat-username {
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    padding: 5px;
}

.message-current {
    margin-right: 10px;
    text-align: right;
}

.message-target {
    margin-left: 10px;
    text-align: left;
}

.message-current, .message-target {
    margin-top: 10px;
}

.message-text {
    padding: 5px;
}

.message-current .message-text {
    background-color: lightblue;
}

.message-target .message-text {
    background-color: lightgrey;
}

.message-current *, .message-target * {
    display: inline-block;
}

.message-datetime {
    font-size: 10px;
    color: grey;
}

#controls {
    margin-top: 10px;
}

#controls div {
    display: inline-block;
    margin-right: 5px;
}

#controls input, #controls select, #send-image button {
    padding: 5px;
    font-size: 15px;
}

#controls input[type=text] {
    width: 20vw;
}