#wrap-2 {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-column-gap: 10%;
}

#description {
    width: 100%;
    height: 300px;
}

#choose {
    width: 100%;
    height: 300px;
    padding: 0;
    background: none;
    border: none;
}

#choose * {
    width: inherit;
    height: inherit;
    border: none;
}

#submit {
    width: 50%;
    padding: 10px;
    font-size: 25px;
    border-radius: 1em;
    background-color: black;
    color: white;
}

form {
    text-align: center;
}

form * {
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    #description {
        width: 100%;
        height: 250px;
    }

    #choose {
        width: 100%;
        height: 250px;
    }

    #submit {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    #wrap-2, #choose, #description {
        display: block;
    }

    #choose, #description {
        margin: 10px auto;
    }

    #description {
        width: 70%;
        height: 200px;
    }

    #choose {
        width: 70%;
        height: 300px;
    }

    #submit {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    #description {
        width: 80%;
        height: 200px;
    }

    #choose {
        width: 80%;
        height: 300px;
    }

    #submit {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    #description {
        width: 95%;
        height: 150px;
    }

    #choose {
        width: 95%;
        height: 250px;
    }

    #submit {
        width: 90%;
    }
}